<button (click)="connect()">Connect Wallet</button>
<button (click)="disconnect()"> Disconnect</button>
<table>
  <tr>
    <td>{{address}}</td>
    <td>{{chainId}}</td>
    <td>{{balance}}</td>
  </tr>
</table>
<table>
  <thead>
  <tr>
    <th>To</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input type="text" placeholder="Eth Address" style="min-width: 450px;" [(ngModel)]="toAddress">
    </td>
    <td>
      <input type="number" placeholder="Amount" [(ngModel)]="amount">
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="sendTx()">Send Transaction</button>
    </td>
  </tr>
  <tr>
    <td>{{results}}</td>
  </tr>
  </tbody>
</table>
<button (click)="getAbi()">Get Abi</button>
<p>{{abi}}</p>
